{% extends 'WebbMotdBundle:id5:ship.html.twig' %}


{% block boxes %}

    {% for box in boxes %}

        {% if box.type == "colstart" %}
            <div class="motd-cols{{ box.columns }}">
        {% elseif box.type == "colend" %}
            </div>
        {% elseif box.type == "freetext" %}
            <dl class="motd-freetext"><dt class="blank">{{ box.title }}</dt><dd>{{ box.content }}</dd></dl>
        {%  elseif box.type == "position" %}
            <dl class="motd-position motd-color-{{ box.position.position.branch }}">
                <dt class="{{ box.position.assignment.persona.rank.shortname }}">{{ box.position.assignment.persona.name }}</dt>
                <dd>{{ box.content }}<br/><br/><em>Played by: </em>{{ box.position.assignment.persona.user }}</dd>
            </dl>

        {% endif %}

    {%  endfor %}


{% endblock boxes %}
