{% extends 'WebbMotdBundle:id5:ship.html.twig' %}

{% block boxes %}

    {% for box in boxes %}

        {% if box.type == "colstart" %}
            <div class="motd-cols{{ box.columns }}">
        {% elseif box.type == "colend" %}
            </div>
        {% elseif box.type == "freetext" %}
            <dl class="motd-freetext"><dt class="blank">{{ box.title }}</dt><dd>{{ box.content }}</dd></dl>
        {%  elseif box.type == "position" %}
            <dl class="motd-position motd-color-{{ box.position.parent.branch }}">


            </dl>

        {% endif %}

    {%  endfor %}


{% endblock boxes %}


{% block roster %}

{{ render(controller('WebbShipBundle:Ship:showRoster', {'ship': ship})) }}

{% endblock roster %}
