<div class="webb_ship_ship_show">
    <p>{{ 'ship.name'|trans({}, 'WebbShipBundle') }}: {{ ship.name }}</p>
    <p>{{ 'ship.shortname'|trans({}, 'WebbShipBundle') }}: {{ ship.shortname }}</p>
    <p>{{ 'ship.type'|trans({}, 'WebbShipBundle') }}: {{ ship.type }}</p>
    <p>{{ 'ship.speed'|trans({}, 'WebbShipBundle') }}: {{ ship.speed }}</p>
    <p>{{ 'ship.fleet'|trans({}, 'WebbShipBundle') }}: {{ ship.fleet }}</p>
    <p>{{ 'ship.acceptsNew'|trans({}, 'WebbShipBundle') }}: {{ ship.acceptsNew }}</p>
    <p>{{ 'ship.description'|trans({}, 'WebbShipBundle') }}: {{ ship.description }}</p>
</div>
