{% extends '::base.html.twig' %}

{% block stylesheets %}

    {% stylesheets filter="compass" "bundles/webbpost/css/post.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block body %}

    <h2>{{ ship.name }}</h2>

{% if meta.parent %}
<div id="postinfo">
    <h3>Reply to: {{ meta.parent_loc }} - {{ meta.parent_act }}</h3>
</div>
{% endif %}

<article id="post">

<form action="{{ path(meta.method, {'fleet' : fleet, 'ship' : ship.shortname, 'parent_id' : meta.parent, 'id' : id}) }}" {{ form_enctype(form) }} method="POST" class="post_note_create">
    <div id="sideouter"><div id="sideinner">
        <h3>Options</h3>
        <span class="checkbox">{{ form_row(form.log) }}</span>

    </div></div>
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'note.submit'|trans({}, 'WebbPostBundle') }}" />
    </div>
</form>

</article>

<br class="clear" />
{# {{ render(controller('WebbPostBundle:Note:recentPosts', {'ship': ship, 'note': meta.parent})) }} #}


{% endblock %}

