{% extends '::base.html.twig' %}

{% block title %}
    {{ ship.name }} - List of Notes
{% endblock %}

{% block stylesheets %}

    {% stylesheets filter="compass" "bundles/webbpost/css/post.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets filter="compass" "bundles/webbpage/css/datepicker.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}



    <div id="postinfo">
        <h2>{{ ship.name }} - List of Notes</h2>
    </div>

        <div id="sideouter"><div id="sideinner">
                <h3>Options</h3>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
        </div></div>

    <br class="clear" />
    {{ render(controller('WebbPostBundle:Note:recentPosts', {'ship': ship, 'note': note, 'start': start, 'end': end})) }}

{% endblock body %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js') }}"></script>
    <script>
        $(function() {
            $( "#form_start" ).datepicker({dateFormat: 'd M yy'});
            $( "#form_end" ).datepicker({dateFormat: 'd M yy'});
        });
    </script>
{% endblock %}
