{% if note %}
  {% set noteid = note.id %}
{% else %}
  {% set noteid = 0 %}
{% endif %}

<div id="listcontainer">
    <div id="postlist">

        {% set hr = false %}

        {% for item in notes %}

            <a href="{{ url('webb_post_note_view', {'fleet': ship.fleet.shortname, 'ship': ship.shortname, 'id': item.id}) }}"
                    class="{% if item.id == noteid %}current {{ item.id }}{% elseif history[item.id] is not defined %}new{% endif %}">
            {% if item['indent'] %}
                {% for i in 1..item['indent'] %}
                    <div class="indent">
                {% endfor %}
            {% endif %}

            {% if hr and item.id != noteid %}
                <hr/>
            {% else %}
                {% set hr = true %}
            {% endif %}

            {% if item.id == noteid %}
                {% set hr = false %}
            {% endif %}

            <dl>
                <dt>
                    {{ item['note'].location }} - {{ item['note'].activity }}
                </dt>
                <dd>
                    {{ item['note'].date|date('j M Y g:i:sa') }}<br/>
                    {{ item['note'].assignment.persona.rank.shortname }} {{ item['note'].assignment.persona.name }}

                    {% if item['note'].assignment.position.custom == "" %}
                        ({{ item['note'].assignment.position.position.shortname }})
                    {% else %}
                        ({{ item['note'].assignment.position.custom }})
                    {% endif %}


                </dd>

            </dl>

            {% if item['indent'] %}
                {% for i in 1..item['indent'] %}
                    </div>
                {% endfor %}
            {% endif %}
            </a>
        {%  endfor %}


    </div>
</div>
