<div id="listcontainer">
    <div id="postlist">

        {% for item in notes %}

            <a href="{{ url('webb_post_note_view', {'fleet': ship.fleet.shortname, 'ship': ship.shortname, 'id': item.id}) }}"
		 class="{{ item.style }}">


                {% for i in 0..item.indent %}
                    <div class="indent">
                {% endfor %}


            <dl>
		        <dt>
                    {% for style, tag in item.tags %}
                        <span class="tag {{ style }}">{{ tag }}</span>
                    {% endfor %}

                    {{ item.note.location }} - {{ item.note.activity }}
                </dt>
                <dd>
                    {{ item.note.date|date('j M Y g:ia') }}<br/>
                    {{ item.note.assignment }} <em>played by {{ item.note.user }}</em>

                </dd>

            </dl>


                {% for i in 0..item.indent %}
                    </div>
                {% endfor %}

            </a>
        {%  endfor %}


    </div>
</div>
