<div id="listcontainer">
    <div id="postlist">

        {% set hr = false %}

        {% for item in notes %}

            <a href="{{ url('webb_post_note_view', {'fleet': ship.fleet.shortname, 'ship': ship.shortname, 'id': item.id}) }}"
		 class="{% if item.id == noteid %}current{% endif %}">
            {% if item.indent %}
                {% for i in 1..item.indent %}
                    <div class="indent">
                {% endfor %}
            {% endif %}

            {% if hr and item.id != noteid %}
                <hr/>
            {% else %}
                {% set hr = true %}
            {% endif %}

            {% if item.id == noteid %}
                {% set hr = false %}
            {% endif %}

            <dl>
		        <dt>
                    {% if (item.id != noteid) and (history[item.id] is not defined) %}<span class="tag new">New</span>{% endif %}
                    {% if item.note.log|length %}{% if item.note.log.log %}<span class="tag log">{{ item.note.assignment.position.shortname }} Log</span>{% endif %}{% endif %}

                    {{ item.note.location }} - {{ item.note.activity }}
                </dt>
                <dd>
                    {{ item.note.date|date('j M Y g:ia') }}<br/>
                    {{ item.note.assignment }} <em>played by {{ item.note.user }}</em>

                </dd>

            </dl>

            {% if item.indent %}
                {% for i in 1..item.indent %}
                    </div>
                {% endfor %}
            {% endif %}
            </a>
        {%  endfor %}


    </div>
</div>
