<div class="webb_post_note_show">
    <p>{{ 'note.location'|trans({}, 'WebbPostBundle') }}: {{ note.location }}</p>
    <p>{{ 'note.activity'|trans({}, 'WebbPostBundle') }}: {{ note.activity }}</p>
    <p>{{ 'note.assignment'|trans({}, 'WebbPostBundle') }}: {{ note.assignment }}</p>
    <p>{{ 'note.content'|trans({}, 'WebbPostBundle') }}: {{ note.content|markdown }}</p>
</div>
