{% extends '::base.html.twig' %}

{% block stylesheets %}

    {% stylesheets filter="compass" "bundles/webbpost/css/post.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block body %}

    <div id="postinfo">
        <h2>{{ ship.name }} - {{ note.location }} - {{ note.activity }}</h2>
        <p>{{ 'note.assignment'|trans({}, 'WebbPostBundle') }} <a href="{{ url('webb_character_view', {'id': note.assignment.persona.id}) }}">{{ note.assignment }}</a> <em>played by {{note.user}}</em></p>

    </div>

    <article id="post">
        <div id="sideouter"><div id="sideinner">
            <h3>Options</h3>

        </div></div>
        {{ note.content|markdown }}
    </article>

    <ul class="buttons buttonsleft">
        {% if previouscron is not null %}
            <li><a href="{{ url('webb_post_note_view', {'fleet': ship.fleet.shortname, 'ship': ship.shortname, 'id': previouscron.id}) }}">Previous Note</a></li>
        {% endif %}
        {% if note.parent is not null %}
            <li><a href="{{ url('webb_post_note_view', {'fleet': ship.fleet.shortname, 'ship': ship.shortname, 'id': note.parent.id}) }}">Parent</a></li>
        {% endif %}
        <li><a href="{{ url('webb_post_note_reply', {'fleet': ship.fleet.shortname, 'ship': ship.shortname, 'parent_id': note.id}) }}">Reply</a></li>
        <li><a href="{{ url('webb_post_note_create', {'fleet': ship.fleet.shortname, 'ship': ship.shortname}) }}">Post New Note</a></li>
    </ul>

    <ul class="buttons buttonsright">
        {% if nextcron is not null %}
            <li><a href="{{ url('webb_post_note_view', {'fleet': ship.fleet.shortname, 'ship': ship.shortname, 'id': nextcron.id}) }}">Next Note</a></li>
        {% endif %}
        {% if nextthread is not null %}
            <li><a href="{{ url('webb_post_note_view', {'fleet': ship.fleet.shortname, 'ship': ship.shortname, 'id': nextthread.id}) }}">Next in Thread</a></li>
        {% endif %}
        <li><a href="">Next New Note</a></li>
        <li><a href="{{ url('webb_post_note_rss', {'fleet': ship.fleet.shortname, 'ship': ship.shortname}) }}">RSS</a></li>
    </ul>

    <br class="clear" />
    {{ render(controller('WebbPostBundle:Note:recentPosts', {'ship': ship, 'note': note})) }}

{% endblock body %}
