{% extends '::base.html.twig' %}
{% block title %}User Profile - {{ user.firstname }} {{ user.surname }}{% endblock %}

{% block stylesheets %}

    {% stylesheets filter="compass" "bundles/webbpost/css/post.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block body %}
    <div id="postinfo">
        <div id="profileimage">
            {% if user.image.path is not null %}<img src="/{{ user.image.webpath }}" alt="Profile Picture"/>{% endif %}
        </div>
        <h2>{{ user.rank }} {{ user.firstname }} {{ user.surname }}</h2>
        <p>{{ 'user.date'|trans({}, 'WebbUserBundle') }} {{ user.updated|date('l j M Y') }} {{ 'user.time'|trans({}, 'WebbCharacterBundle') }} {{ user.updated|date('g:ia T') }}</p>
        <p>{{ 'user.joined'|trans({}, 'WebbUserBundle') }} {{ user.joined|date('l j M Y') }} </p>

        <p><strong>Characters:</strong></p>

        <table id="assignments">
            <tr>
                <th>Character</th>
                <th>Ship</th>
                <th>Position</th>
            </tr>
            {% for persona in user.persona %}
                <tr>
                    <td><a href=" {{ path('webb_character_view', {'id': persona.id}) }}">{{ persona.rank }} {{ persona.name }}</a></td>
                    <td><a href=" {{ path('webb_ship_ship_view', {'shortname': persona.assignment[0].position.ship.shortname, 'fleet': persona.assignment[0].position.ship.fleet.id}) }}">{{ persona.assignment[0].position.ship }}</a></td>
                    <td>{{ persona.assignment[0].position }}</td>
                </tr>

            {% endfor %}
        </table>


    </div>
    <div id="sideouter"><div id="sideinner">
            <h3>Options</h3>
            {% if app.user.id == user.id %}
                <ul>
                    <li><a href="{{ url('fos_user_profile_edit') }}">Edit Profile</a></li>
                </ul>
            {% elseif is_granted('ROLE_PROFILE_EDIT') %}
                <ul>
                    <li><a href="{{ url('webb_user_profile_edit_byid', {'id': user.id}) }}">Edit Profile</a></li>
                </ul>
            {% endif %}

        </div></div>
    <br class="clear" />
    <article id="post">
        {{ user.bio|markdown }}
    </article>
{% endblock %}
