
{% extends '::base.html.twig' %}

{% block title %}Character - Create{% endblock %}

{% block stylesheets %}

    {% stylesheets filter="compass" "bundles/webbpost/css/post.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block body %}


    <div id="postinfo">
        <form action="{{ path('webb_character_create') }}" {{ form_enctype(form) }} method="POST" class="persona_create">
            <h2>Create New Character</h2>
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'persona.submit'|trans({}, 'WebbCharacterBundle') }}" />
            </div>
        </form>
    </div>
{% endblock %}

