<div class="webb_character_show">
    <p>{{ 'persona.rank'|trans({}, 'WebbCharacterBundle') }}: {{ persona.rank }}</p>
    <p>{{ 'persona.name'|trans({}, 'WebbCharacterBundle') }}: {{ persona.name }}</p>
    <p>{{ 'persona.species'|trans({}, 'WebbCharacterBundle') }}: {{ persona.species }}</p>
    <p>{{ 'persona.weight'|trans({}, 'WebbCharacterBundle') }}: {{ persona.weight }}</p>
    <p>{{ 'persona.height'|trans({}, 'WebbCharacterBundle') }}: {{ persona.height }}</p>
    <p>{{ 'persona.age'|trans({}, 'WebbCharacterBundle') }}: {{ persona.age }}</p>
    <p>{{ 'persona.bio'|trans({}, 'WebbCharacterBundle') }}: {{ persona.bio }}</p>
</div>
