{% extends '::base.html.twig' %}

{% block stylesheets %}

    {% stylesheets filter="compass" "bundles/webbpost/css/post.scss" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block body %}

    <div id="postinfo">
        <h2>{{ persona.rank }} {{ persona.name }}</h2>
        <p>{{ 'persona.user'|trans({}, 'WebbCharacterBundle') }}: {{ persona.user }}</p>
        <p>{{ 'persona.species'|trans({}, 'WebbCharacterBundle') }}: {{ persona.species }}</p>
        <p>{{ 'persona.weight'|trans({}, 'WebbCharacterBundle') }}: {{ persona.weight }}</p>
        <p>{{ 'persona.height'|trans({}, 'WebbCharacterBundle') }}: {{ persona.height }}</p>
        <p>{{ 'persona.age'|trans({}, 'WebbCharacterBundle') }}: {{ persona.age }}</p>

    </div>

    <article id="post">
        {{ persona.bio|markdown }}
    </article>


{% endblock %}